<div class="header"></div>
<div class="body">
    <div class="intro subset">
        <div class="border"></div>
    </div>
    <div class="design subset">
        <div class="border"></div>
    </div>
    <div class="building subset">
        <div class="border"></div>
    </div>
    <div class="programming subset">
        <div class="border"></div>
    </div>
    <div class="website subset">
        <div class="border"></div>
    </div>
    <div class="notebook subset">
        <div class="border"></div>
    </div>
</div>
<div class="footer">
    <div><a href="https://github.com/NolanAguirre">Made with love by Nolan Aguirre</a></div>
</div>
